<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        #content {
            padding: 10px;
            color: #111;
        }

        p {
            margin: 0;
        }
    </style>
</head>

<body>
    <div id='content'>
        <h2>Cập nhật tài khoản</h2>
        <span>Xin chào </span><strong><%= receiver %>,</strong>
        <br /><br />
        <div>Mới đây, Admin của hệ thống đã cập nhật lại mật khẩu mới cho tài khoản của bạn! </div>
        <div>Lần tới, hãy đăng nhập bằng mật khẩu: <%= password %></div>
        <br />
        <p> Thân ái, </p>
        <p> SpeechEvaluation</p>
    </div>
</body>

</html>